    *{
        box-sizing: border-box;
        margin:  0 ;
        padding: 0;
    }


.images{
    display: flex;
    height: 100px;
    width: 50px;
}
.images:hover{
    cursor: pointer;
}

.input input{
height: 40px;
/* border-radius: 40%; */
width: 100px;
}
.input button{
    background-color: blue;
    color: white;
    border-radius: 20%;
    text-align: center;
    width: 50px;
    height: 20px;
}

