    *{
        box-sizing: border-box;
        margin:  0 ;
        padding: 0;
    }


.images{
    display: flex;
    height: 100px;
    width: 50px;
}
.images:hover{
    cursor: pointer;
}

.input input{
height: 40px;
/* border-radius: 40%; */
width: 100px;
}
.input button{
    background-color: blue;
    color: white;
    border-radius: 20%;
    text-align: center;
    width: 50px;
    height: 20px;
}

#child{ 
background-color: blue;
} /* styling that element we just created using DOM */



#parent{
    width: 50%;
    height: 100vh;
    text-align: center;
    margin: 87px 254px 72px 310px;
    border: 1px solid;
    background-color: green;
}

#parent h1{
    font-size: 50px;
}
#parent button{
    width: 9%;
    height: 40px;
}
#input{
    width: 90%;
    text-align: center;
    height: 50px;
    font-size: 20px;
}

